:root{		/*		Edit the following values to change the colours of the page		*/
	--textColour: #fff;
	--light_bg: #77b;
	--dark_bg: #339;
}

*{
	color: var(--textColour);
	box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  background-color: var(--light_bg);
}

form, body, p {
	font-family: Garamond, serif;
	font-size: 1.2em;
}

form, p, img{
	margin-left: 3%;
	margin-right: 3%;
}


h1, h2, h3, h4, h5, h6, li a{
	font-family: Helvetica, Arial, sans-serif;
}

h1,h2 {
	padding: 2% 0%;
	margin: auto;
	text-align: center;
	background-color: var(--dark_bg);
}

h1 {
	font-size: 3em;
}


/*
h2{
	font-weight: normal;
}

h3,p{
	font-size: 1.2em;
} */
