:root{		/*		Edit the following values to change the colours of the page		*/
	--textColour: white;
	--contrast_bg: black;
	--light_bg: #66a;
	--med_bg: #559;
	--strong_bg: #227;
}

*{
	color: var(--textColour);
	box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  background-color: var(--light_bg);
}

/* form, body, p, table{
	font-family: Garamond, serif;
	font-size: 1.2em;
} */

main{				/*main content, to indent slightly */
	margin-left: 3%;
	margin-right: 3%;
	font-family: Garamond, serif;
	font-size: 1.2em;
}

input,select {
	color: #000;
}

	
/* form, p, img, table,h2,details{
	margin-left: 3%;
	margin-right: 3%;
} */

h1, h2, h3, h4, h5, h6{
	font-family: Helvetica, Arial, sans-serif;
}

h1 {
	padding: 1% 0%;
	margin: auto;
	text-align: center;
	background-color: var(--strong_bg);
}

h1 {
	font-size: 3em;
}

.linkBox{

	padding: 1% 0%;
	background-color: var(--med_bg);
	/* font-size: 1.5em; */

	/* padding: 0.9em 6.5em; */
	text-decoration: none;

}


.topLinks{
	display: flex;
	justify-content: space-between;
	max-width: 50%;

	/* padding: 1% 5%; */
	margin: auto;
	text-align: center;
	font-size: 1.5em;

	/* padding: 0.9em 6.5em; */
	text-decoration: none;
}

.manPlot{
	margin: auto;
	width: 50%;	
	text-align: center;
	/* font-size: 1.5em; */
}


.manPlot-tooltip {
	color: var(--textColour);
	background-color: black;
}

.tooltip-rsid{
	font-weight: bold;
}

.themeItem{
	font-size: larger;
}

/* Table stuff */

summary{
	font-size: 1.5em;
	background-color: var(--med_bg);
	padding: 1%;
	max-width: 15%;
}

table{
	border-spacing: 0;
}

th{
	border-bottom-style: solid;
}

tr:nth-child(even){
	background-color: var(--med_bg);
}

td,th{
	padding:8px;
	text-align: center;
}
