<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<script src="{{ url_for('static', filename='themes.js') }}"></script>
	<title>QMUL SNP Portal</title>
</head>
<body>
	<h1>QMUL SNP Portal</h1>
	<div class="linkBox">
		<div class="topLinks">
		  <a href="https://github.com/g-b-f/QMUL-Bioinformatics-DDG">Source code</a>
		  <a href="https://g-b-f.github.io/hosted/Documentation.pdf">Documentation</a>
		  <a href="/themes">Themes </a>
	  </div>
	</div>
	<br>
	<main>
	<form method="POST">
		{{ form.csrf_token }}
		{{ form.SNP_req.label }} {{ form.SNP_req() }}
		<br>
		{{ form.req_type.label }} {{form.req_type}}
		{{ form.submit() }}
	</form>
	<br>
	<h2>Formatting guidelines:</h2>
	<ul>
		<li>rsId should look like: rs12345</li>
		<li>Chromosome position should look like: 1:1234-4567</li>
		<li>Gene name should look like IRF4</li>
	</ul>
	<br>
	</main>

</body>
</html>