<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
	<script src="{{ url_for('static', filename='themes.js') }}"></script>
	<title>QMUL SNP Portal</title>
</head>
<body>
	<h1>QMUL SNP Portal</h1>
	<div class="linkBox">
		<div class="topLinks">
		  <a href="https://github.com/g-b-f/QMUL-Bioinformatics-DDG">Source code </a>
		  <a href="https://large-type.com/#Docs%20link%20goes%20here">Documentation </a>
		  <a href="/themes">Themes </a>
	  </div>
	</div>
	<br>
	<main>
	<form method="POST">
		{{ form.csrf_token }}
		{{ form.SNP_req.label }} {{ form.SNP_req() }}
		<br>
		{{ form.req_type.label }} {{form.req_type}}
		{{ form.submit() }}
	</form>
	<br>
	<h2>Formatting guidelines:</h2>
	<ul>
		<li>Item one</li>
		<li>Item two</li>
		<li>Item three</li>
	</ul>
	{% if debug %}
	<br><br>
	<p>rs1770 is a known working SNP</p>
	<p>also try rs1050979</p>
	<p>6:0000-6:19999000 gives 2 SNPs</p>
	<p>6:0000-6:29999000 gives 7 SNPs</p>
	<p>IRF4 mapped gene</p>
	{% endif %}
	<br>
	</main>

</body>
</html>