<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon2.png') }}">
    <script src="{{ url_for('static', filename='themes.js') }}"></script>
	<title>QMUL SNP Portal - Themes</title>
</head>
<body>
	<h1>Themes</h1>
    <div class="linkBox">
        <div class="topLinks">
            <a href="/">Home </a>
        </div>
    </div>
    <br>
    <main>
        {% for theme in themeDict %}
            <div class="themeItem">
                <a class="themeItem" href="#" onclick="setTheme({% for colour in themeDict[theme][:-1]%}'{{colour}}',{% endfor %}'{{themeDict[theme][-1]}}')">{{theme}}</a>
                <div class="boxWrapper">{% for colour in themeDict[theme]%}
                    <div style="background-color:{{colour}};" class="box"></div>
                    {% endfor %}
                </div>
            </div>
            <br>
        {% endfor %}
    </main>
</body>
</html>
