<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
	<title>QMUL SNP Portal - {{name}}</title>
</head>
<body>
	<h1>{{SNP_req}}</h1>

    <div class="linkBox">
        <div class="topLinks">
            {% if len > 1 %}
            <a href="/LD_results/{{SNP_req}}?req_type={{req_type}}">Linkage Disequilibrium calculations</a>
            <a href="/LD_heatmap/{{SNP_req}}?req_type={{req_type}}">Linkage Disequilibrium plot</a>
            {% if req_type == 'coords' %}
            <a href="/manPlot/{{SNP_req}}">Manhattan Plot</a>
            {% endif %}
            {% else %}
            <a href="/">Home</a>
            {% endif %}
        </div>
    </div>
    <div style="border-top: solid;" class="linkBox">
        <div class="topLinks">
            <a href="#pos">Jump to Positional </a>
            <a href="#freq">Jump to Frequencies </a>
            <a href="#func">Jump to Functional </a>
            <a href="#ont">Jump to Ontology </a>            
        </div>
    </div>

<main>
    <h2 id="pos">Positional:</h2>

    <table>
        <tr>
			<th>SNP</th> <th>Region</th> <th>Chromosome position</th> <th>Chromosome number</th> <th>P value</th> <th>Mapped gene</th>
        </tr>
        {% for snp_rs in reqRes %}
        <tr>
            {% for td in reqRes[snp_rs]['gwas'] %}
             <td>{{td}}</td>
             {% endfor %}
        </tr>
        {% endfor %}
    </table>

	<br>

	<h2 id="freq">Allele Frequencies:</h2>
	
    <table>
        <tr>
			<th>SNP</th> <th>Finland</th> <th>Toscani</th> <th>British</th>
        </tr>
        {% for snp_rs in reqRes %}
        <tr>
            <td>{{snp_rs}}</td>
            {% for td in reqRes[snp_rs]['pop'] %}
             <td>{{td}}</td>
             {% endfor %}
        </tr>
        {% endfor %}
    </table>

	<br>

	<h2 id="func">Functional:</h2>

	<table>
        <tr>
			<th>SNP</th><th>CADD PHRED</th> <th>CADD RAW</th> <th>Variant Allele</th>
        </tr>
        {% for snp_rs in reqRes %}
        <tr>
            {% for td in reqRes[snp_rs]['func'] %}
             <td>{{td}}</td>
             {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <h2 id="ont">Ontology:</h2>
    <p>Click each rsid to expand</p>
    {% for snp_rs in reqRes %}
    <details>
        <summary>{{snp_rs}}</summary>
        <table>
            <tr>
                <th>GO ID</th><th>Description</th>
            </tr>
            {% for go,term in reqRes[snp_rs]['ont'] %}
            <tr>
                <td>{{go}}</td><td>{{term}}</td>
            </tr>
            {% endfor %}
        </table>
    </details>
    <br>
    {% endfor %}

</main>
</body>
</html>