<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
	<title>QMUL SNP Portal - {{name}}</title>
</head>
<body>
	<h1>{{name}}</h1>
	<br>
	<p>Region: {{region}}</p>
	<p>Chromosome position: {{chr_pos}}</p>
	<p>Mapped gene: {{mapGene}}</p>
	<p>P value: {{pVal}}</p>
	<br>
	<h2>Allele Frequencies:</h2>
	<table>
		<tr>
			<th>Finland</th><th>Toscani</th>><th>British</th>
		</tr>
		<tr>
			<td>{{finPop}}</td><td>{{toscPop}}</td><td>{{BritPop}}</td>
		</tr>
	</table>


	<!-- <br><p>Request type: {{req_type}}</p> -->
</body>

<!-- name=rsName, region=region, chr_pos=chrPos, pVal=pVal, req_type=req_type -->