<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
	<title>QMUL SNP Portal - {{name}}</title>
</head>
<body>
	<h1>{{reqRes[0]}}</h1>
	<br>
	<p>Region: {{region}}</p>
	<p>Chromosome position: {{chr_pos}}</p>
	<p>Mapped gene: {{mapGene}}</p>
	<p>P value: {{pVal}}</p>

	<br>

	<h2>Allele Frequencies:</h2>
	

    <table>
        <tr>
			<!--<th>Variation</th> <th>Finland</th> <th>Toscani</th> <th>British</th>-->
            {% for header in pop_header %}
            <th>{{header}}</th>
            {% endfor %}
        </tr>
        {% for snp_rs in reqRes %}
        <tr>
            <td>{{snp_rs}}</td>
            {% for td in reqRes[snp_rs]['pop'] %}
             <td>{{td}}</td>
             {% endfor %}
        </tr>
        {% endfor %}
    </table>




	<br>

	<h2>Functional:</h1>
	<!-- <br> -->
	<p>CADD PHRED score: {{CADD_PHRED}}</p>
	<p>CADD RAW score: {{CADD_RAW}}</p>
	<p>Variant Allele used for consequence calculation: {{var_allele}}</p>

	<!-- <br><p>Request type: {{req_type}}</p> -->
</body>

<!-- name=rsName, region=region, chr_pos=chrPos, pVal=pVal, req_type=req_type -->